mixin catalogBlock
	.catalog-items
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-1")
			.catalog-item__text Автомобильные<br>аксессуары
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-2")
			.catalog-item__text деловые<br>подарки
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-3")
			.catalog-item__text Личные<br>аксессуары
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-4")
			.catalog-item__text Для дома
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-5")
			.catalog-item__text Для отдыха
		a(href="#").catalog-item
			img(src=`${img}/catalog-1.jpg`, alt="catalog-6")
			.catalog-item__text зонты
