mixin header
	header.header
		.outer.upheader
			.inner.upheader-content
				.upheader-contacts
					a(href="#").upheader-contacts__item +7 (495) 990 49 90
					.upheader-contacts__item 10:00-18:00 ПН-ПТ МСК
					a(href="#").upheader-contacts__item info@slovodelo.ru
				.upheader-ctext Мин. сумма заказа 20 000 руб. Работаем только с юр. лицами.
				nav.upheader-menu
					ul.upheader-menu__nav
						li: a(href="#") Оплата и доставка
						li: a(href="#")  FAQ
						li: a(href="#")  Контакты
					.upheader-menu__socials
						a(href="#"): img(src= `${icons}/instagram.svg`)
						a(href="#"): img(src= `${icons}/facebook.svg`)
		.outer.subheader
			button.menu-burger.menu-burger--header
				.line
				.line
				.line
			.overlay.overlay--header
			.inner.subheader-content
				a(href="#").subheader-logo: img(src=`${img}/logo.png`, alt="logo")
				nav.menu-nav.menu-nav--header
					ul.subheader-menu
						li: a.subheader-menu-item(href="#") Услуги
						li
							a.subheader-menu-item(href="#") Каталог
							.dropdown
								ul.dropdown-content.dropdown-content--left
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
								ul.dropdown-content.dropdown-content--right
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
									li: a(href="#") Товары для офиса
									li: a(href="#") Товары для дома
									li: a(href="#") Товары для рыбалки
									li: a(href="#") Товары для охоты
						li: a.subheader-menu-item(href="#") Портфолио
						li: a.subheader-menu-item(href="#") О компании
				.subheader-icons
					a(href="#")
						img(src=`${icons}/loupe.svg`, alt="loupe")
					a(href="#")
						img(src=`${icons}/star.svg`, alt="star")
					a(href="#").subheader-icon--bag
						img(src=`${icons}/bag.svg`, alt="bag")
						span 1
					a(href="#")
						img(src=`${icons}/user.svg`, alt="user")
