section.outer.bg-lightsalmon-07.pt-12.lg_pt-24
  .inner
    div(class='max-w-[595px]')
      h2.text-xl.font-semibold.sm_text-2xl.lg_text-3xl Apa kata #[span.text-lightsalmon-03 Warga Bebas] setelah mengikuti pelatihan
      p.mt-6 #[span.font-semibold Cerita pengalaman Warga Bebas] setelah mengikuti pelatihan di Bebasjamkerja
    //- .mt-20.grid.grid-flow-col.gap-5
    .warga-swiper.swiper.relative.-bottom-32.-mt-20.lg_-bottom-20.lg_-mt-4(class='!-mr-5')
      //- mixin item
      //-   figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.xs_p-6.p-5(
      //-     class='max-w-[292px] xs_max-w-[406px] lg_max-w-[406px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)]'
      //-   )
      //-     figcaption.flex.items-center.gap-6
      //-       +img('~img/review1.png').rounded-xl(class="max-xs_w-[60px]")
      //-       div
      //-         h3.text-base.xs_text-lg.lg_text-xl.font-semibold Jocelyn Vetrovs
      //-         p.mt-1.lg_mt-3 Digital Marketing
      //-     blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
      .swiper-wrapper
        figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.px-5.py-6.xs_p-6(
          class='max-w-[292px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)] xs_max-w-[406px] lg_max-w-[406px]'
        )
          figcaption.flex.items-center.gap-6
            +img('~img/review1.png').rounded-xl(class='max-xs_w-[60px]')
            div
              h3.text-base.font-semibold.xs_text-lg.lg_text-xl Jocelyn Vetrovs
              p.mt-1.lg_mt-3 Digital Marketing
          blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
        figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.p-5.xs_p-6(
          class='max-w-[292px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)] xs_max-w-[406px] lg_max-w-[406px]'
        )
          figcaption.flex.items-center.gap-6
            +img('~img/review2.png').rounded-xl(class='max-xs_w-[60px]')
            div
              h3.text-base.font-semibold.xs_text-lg.lg_text-xl Terry Donin
              p.mt-1.lg_mt-3 Graphic Desing
          blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
        figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.p-5.xs_p-6(
          class='max-w-[292px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)] xs_max-w-[406px] lg_max-w-[406px]'
        )
          figcaption.flex.items-center.gap-6
            +img('~img/review3.png').rounded-xl(class='max-xs_w-[60px]')
            div
              h3.text-base.font-semibold.xs_text-lg.lg_text-xl Miracle Culhane
              p.mt-1.lg_mt-3 Front-end Developer
          blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
        figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.p-5.xs_p-6(
          class='max-w-[292px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)] xs_max-w-[406px] lg_max-w-[406px]'
        )
          figcaption.flex.items-center.gap-6
            +img('~img/review4.png').rounded-xl(class='max-xs_w-[60px]')
            div
              h3.text-base.font-semibold.xs_text-lg.lg_text-xl Jocelyn Vetrovs
              p.mt-1.lg_mt-3 Digital Marketing
          blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
        figure.swiper-slide.rounded-xl.border.border-white-02.bg-white.p-5.xs_p-6(
          class='max-w-[292px] shadow-[0px_0px_20px_rgba(51,51,51,0.05)] xs_max-w-[406px] lg_max-w-[406px]'
        )
          figcaption.flex.items-center.gap-6
            +img('~img/review5.png').rounded-xl(class='max-xs_w-[60px]')
            div
              h3.text-base.font-semibold.xs_text-lg.lg_text-xl Jocelyn Vetrovs
              p.mt-1.lg_mt-3 Digital Marketing
          blockquote.mt-6 Kamu akan dibimbing dari nol sampai kamu mendapatkan projek pertama
