mixin natural-items
  - const titleCn = cn('mt-6 text-lg text-matterhorn font-medium');
  - const priceCn = cn('mt-1.5 text-3xl text-rose-bud font-wfts font-light');
  - const btnCn = cvaButton({ intent: 'v2', size: 'small', font: 'small', class: 'tracking-[3px]' });
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-1.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Fresh Smoothie
    p(class=priceCn) £ 13.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-2.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Natural Juice
    p(class=priceCn) £ 11.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-3.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Ice Smoothie
    p(class=priceCn) £ 7.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-4.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Fresh Smoothie Cream
    p(class=priceCn) £ 3.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-5.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Fruits Smoothie
    p(class=priceCn) £ 13.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-6.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Natural Ice Juice
    p(class=priceCn) £ 11.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-7.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Pink Smoothie
    p(class=priceCn) £ 7.00
  article
    .s-natural-imgWrapper
      +img('~img/smoothie-8.jpg')
      div: button(class=btnCn) add to cart
    h3(class=titleCn) Fresh Smoothie
    p(class=priceCn) £ 3.00
